averclone/
*.a
*.swp
*~
thumbs.db
autom4te.cache
*.o
*.exe
*.dll
src/blitwizard
.deps
ltmain.sh
m4
autom4te.cache/
/Makefile
src/.deps/
src/Makefile
config.status
config.log
config.guess
config.sub
configure
Makefile.in
depcomp
install-sh
missing
aclocal4
aclocal.m4
