averclone/
*.apk
*.a
*.swp
*~
thumbs.db
autom4te.cache
*.o
*.exe
*.dll
scripts/blitwizard*
scripts/tarball/
scripts/ssetest
scripts/ssetest.c
scripts/box2dforwindows.cmake
src/blitwizard
.deps
ltmain.sh
scripts/.buildinfo
scripts/.depsarebuilt_flags
scripts/.depsarebuilt_luatarget
libtool
m4
confdefs.h
config.ld
deps
autom4te.cache/
/game.lua
/Makefile
src/.deps/
src/Makefile
tests/Makefile
config.status
config.log
config.guess
config.sub
configure
compile
Makefile.in
depcomp
install-sh
missing
aclocal4
aclocal.m4
