averclone/
*.a
*.swp
*~
thumbs.db
autom4te.cache
*.o
*.exe
*.dll
scripts/blitwizard*
scripts/tarball/
scripts/ssetest
scripts/ssetest.c
src/blitwizard
.deps
ltmain.sh
scripts/.buildinfo
scripts/.depsarebuilt
libtool
m4
deps
autom4te.cache/
/Makefile
src/.deps/
src/Makefile
config.status
config.log
config.guess
config.sub
configure
Makefile.in
depcomp
install-sh
missing
aclocal4
aclocal.m4
