
SET(CMAKE_SYSTEM_NAME Windows)

SET(CMAKE_C_COMPILER   AUTOTOOLS_HOST-gcc)
SET(CMAKE_CXX_COMPILER AUTOTOOLS_HOST-g++)
SET(CMAKE_RC_COMPILER AUTOTOOLS_HOST-windres)

SET(CMAKE_FIND_ROOT_PATH /usr/AUTOTOOLS_HOST/

SET(CMAKE_FIND_ROOT_PATH_MODE_PROGRAM NEVER)
SET(CMAKE_FIND_ROOT_PATH_MODE_LIBRARY ONLY)
SET(CMAKE_FIND_ROOT_PATH_MODE_INCLUDE ONLY)


